li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

a:visited {
  color: green;
}

a:active {
  color: blue;
}

.calendar {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 50px auto;
  font-family: verdana;
  font-size: 12px;
}

.weekDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-start: 2;
  align-items: end;
  justify-items: center;
}

.weeks {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.weeks li {
  justify-items: end;
  padding-top: 50px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

li {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  position: relative;
}

span.date {
  height: 26px;
  width: 26px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.days li {
  border: 1px solid #D1CDCD;
  margin: 10px;
}

.variant-1 {
  background-color: #84A321;
  color: #FFFFFF;
  font-size: 10px;
  text-align: center;
  padding: 7px 7px;
  margin: 4px 4px 0px 4px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.variant-2 {
  background-color: #A34D21;
  color: #FFFFFF;
  font-size: 10px;
  text-align: center;
  padding: 7px 7px;
  margin: 4px 4px 0px 4px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.variant-3 {
  background-color: #21A3A1;
  color: #FFFFFF;
  font-size: 10px;
  text-align: center;
  padding: 7px 7px;
  margin: 4px 4px 0px 4px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

li.disabled:nth-child(odd) {
  background-color: rgba(243, 243, 243, 0.33);
}

ul.days > li:nth-child(odd) {
  background-color: #F3F3F3;
}

span.date {
  font-weight: bold;
}

@media screen and (max-width: 640px) {
  .days li {
    border: 1px solid #D1CDCD;
    margin: 2px;
  }
}
